/*
	addClear plugin

*/
.addClear {
	&__wrapper {
		position: relative!important;
		display: inline-block;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}


	&__button {
		display: none;
		color: #000 !important;
		text-decoration: none !important;
		text-align: center !important;
		overflow: hidden !important;
		position: absolute !important;
		margin: 0 !important;
		cursor: pointer !important;
		box-sizing: border-box !important;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		opacity: .2 !important;
		transition: opacity 0.2s !important;
		z-index: 10 !important;
		background: transparent !important;
		&:hover {
			opacity: 1 !important;
		}

		&::after {
			content: "✖" !important;
			//content: "✕" !important; // alternative
		}


	}

}

